h1,h5
{

color:white;
font-family: 'EB Garamond', serif;
}
img{
    font-size:12px;
}
li,p{
    font-family: 'Rasa', serif;
}
.FS
{
font-style: italic;
font-family: 'Cinzel', serif;
font-size: 13px;
}
.pic
{
width:150px;
height:150px;
float:right;
margin-top:-80px;
}


.skills{
    background-color: aliceblue;
    text-align: center;
    font-family: 'Maiden Orange', cursive;
    font-family: 'Teko', sans-serif;
    height: 20  px;


}
.poste
{
    font-family: 'Volkhov', serif;
    color: rgba(40, 73, 221);
    margin-bottom: 100 px;

}
